<footer>
	<nav class="round">
		<ul>
			<li><%= link_to("Home", pages_home_path);%></li>
			<li><%= link_to("About our App", pages_about_path);%></li>	
			<li><%= link_to("Contact Us", pages_contact_path);%></li>
			<li><%= link_to("Help", pages_help_path);%></li>		
		</ul>
	</nav>
</footer>
